
<div>  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <h1 class="header center orange-text">"No Worries... Just <b class="red-text">"Oweski Me"</b>, BroSki!</h1>
      <div class="row center">
        <h5 class="header col s12 light">No one likes keeping mental score of "who got last..." Let OweSki do it for you!</h5>
      </div>
    </div>
  </div>

<div class="row loginRegister">
  <!--~~~~~~~~~~~~~~~~~~ BUTTON TOGGLE ~~~~~~~~~~~~~~~~~~-->
  <div class="row"><br></div>

  <div class="row">
    <div class="col s8 offset-s2">
      <div class="row valign">
        
        <!-- Choose whether or not we are NEW USER or EXISTING USER -->
        <div class="col s6 center">
          <a class="waves-effect waves-light btn red white-text loginRegisterBtns" ng-click="activateRegisterMode()">Register</a>    <!-- shows "REGISTRATION FORM", hides "LOGIN FORM" // in loginRegisterCtrl, runs "activateRegisterMode()" -->
        </div>
        <div class="col s6 center">
          <a class="waves-effect waves-light btn white-text light-green loginRegisterBtns" ng-click="activateLoginMode()">Login</a>    <!-- shows "LOGIN FORM", hides "REGISTRATION FORM" // in loginRegisterCtrl, runs "activateLoginMode()" -->
        </div>

      </div>
    </div>
  </div>

  <!--~~~~~~~~~~~~~~~~~ REGISTRATION FORM ~~~~~~~~~~~~~~~~~-->
  <form class="col s8 offset-s2 regModeBg" ng-show="registerMode">      <!-- see loginRegisterCtrl -->
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="newUser.email">
        <label for="email">Email</label>    <!-- ng-model="regEmail" captures email input from user-->
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="regPassword">
        <label for="password">Password</label>    <!-- ng-model="regPassword" captures password input from user-->
      </div>
    </div>

    <div class="row">
      <div class="center-align">
        <button class="btn waves-effect waves-light btn-large red" ng-click="onRegisterClick()">Register<i class="material-icons right">send</i>
        </button>   <!-- ng-model="onRegisterClick()" takes user inputs above and runs "createUser()" -->
      </div>
    </div>
  </form>

  <!--~~~~~~~~~~~~~~~~~~~ LOGIN FORM ~~~~~~~~~~~~~~~~~~~-->
  <form class="col s8 offset-s2 loginModeBg" ng-show="!registerMode">      <!-- see loginRegisterCtrl -->
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="loginEmail">
        <label for="email">Email</label>    <!-- ng-model="loginEmail" captures email input from user-->
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="loginPassword">
        <label for="password">Password</label>    <!-- ng-model="loginPassword" captures password input from user-->
      </div>
    </div>

    <div class="row">
      <div class="center-align">
        <button class="btn waves-effect waves-light btn-large light-green" ng-click="onLoginClick()">Login<i class="material-icons right">send</i>
        </button>   <!-- ng-model="onLoginClick()" takes user inputs above and runs "createUser()" -->
      </div>
    </div>
  </form>
  
</div>
