
<div class="section no-pad-bot" id="index-banner">
    <br>
    <h1 class="header center orange-text">Your <b class="red-text">Oweski</b> Board</h1>
    <div class="row center">
      <h4 class="header col s12 light blue-text">Search old <b class="green-text">Oweskis</b> and Tags, update existing <b class="red-text">Oweskis</b>, or start a new <b>Oweski</b>!</h4>
    </div>
</div>

<div class="row">
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~ OWESKISEARCH BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <!-- UNNEEDED VERSION OF SEARCHBAR? 
  Is "linked" to searchDatabase(oweskiToSearch) however... -->
  <!-- <div class="row">   
    <form id="databaseSearch">
      <input type="text" ng-model="oweskiToSearch" placeholder="Search oweski database..." class="col s9 offset-s1">
      <button class="waves-effect waves-light btn-floating teal btn" ng-click="searchDatabase(oweskiToSearch)"><i class="material-icons">search</i></button>
    </form>
  </div> -->

  <input type="text" class="form-control" placeholder="Search Oweski database..." ng-model="searchText">


  <!--~~~~~~~~~~~~~~~~~~~~~ CARDS FOR USER OWESKI RESULTS ~~~~~~~~~~~~~~~~~~~~-->
  <div class="panel panel-default">
    <div class="panel-body cardPanelBody row">

      <!--~~~~~~~~~~~~~~~~~~~ ONE ENTIRE CARD WITH BUTTONS ~~~~~~~~~~~~~~~~~~~-->
      <div class="row center"> 

        <div class="col s12 m4 center" ng-repeat="oweski in oweskis" ng-click="getOweski()">
          <div class="card orange valign hoverable">
            <a ng-href="#/main">
            <div class="card-content white-text">
              <span class="card-title"><b>{{oweski.count}} OweSkis</b></span>
              
              <br/>

              <span>with <br/>{{oweski.user2}}</span>    
              <!-- instead of user2 here use the display name from the ctrl in "1" or "2"  NEED TO FIX!!!!-->

            </div>
            </a>


            <!--~~~~~~~~~~~~~~~~~~~~~ BUTTONS!!! Content ~~~~~~~~~~~~~~~~~~~~~-->
            <div class="container">
              <div class="row flexSizing buttonRow">

                <div class="col s12 m4 center plus1" ng-click="updateAddOweski(oweski)"> 
                  <a ng-href="#/main" id="register">
                    <i class="material-icons md-48 green-text">add_circle_outline</i>
                  </a>
                </div>

                <div class="col s12 m4 center randowski" ng-click="updateRandOweski(oweski)">
                  <a ng-href="#/main" id="register">
                    <i class="center material-icons md-48 white-text">casino</i>
                  </a>
                </div>

                <div class="col s12 m4 center minus1" ng-click="updateMinusOweski(oweski)">
                  <a ng-href="#/main" id="register">
                    <i class="center material-icons md-48 red-text">remove_circle_outline</i>
                  </a>
                </div>

              </div>  <!--  class="row flexSizing buttonRow"> -->
            </div>   <!-- class="container"> -->
            <!--~~~~~~~~~~~~~~~~~~~ END BUTTONS!!! Content ~~~~~~~~~~~~~~~~~~~-->

            <div class="divider"></div>

            <!--~~~~~~~~~~~~~~~~~~~~ OWESKI TAGS Content ~~~~~~~~~~~~~~~~~~~~-->
            <div class="card-content orange darken-1 tagsTabArea">
              <a ng-href="#/main">
                <span class="row s12 center orange-text text-lighten-3">Oweski Tags: <br/>{{oweski.tags}}</span>
              </a>
            </div>
            <!--~~~~~~~~~~~~~~~~~~ END OWESKI TAGS Content ~~~~~~~~~~~~~~~~~~-->

            <div class="divider"></div>

            <!--~~~~~~~~~~~~~~~~~~~ DELETE OWESKI Content ~~~~~~~~~~~~~~~~~~~-->
            <div class="card-content orange darken-2 deleteTabArea" ng-click="deleteOweski(oweski)">
              <a ng-href="#/main">
                <span class="col s12 center red-text text-darken-4">delete this Oweski</span>
                <br/>
              </a>
            </div>
            <!--~~~~~~~~~~~~~~~~~ END DELETE OWESKI Content ~~~~~~~~~~~~~~~~~-->

          </div>   <!-- END class="card orange valign hoverable"> -->      
        </div>   <!-- END class="col s12 m4 center" ng-repeat="oweski in oweskis" ng-click="getOweski()"> -->


        <!--~~~~~~~~~~~~~~~~~~~~~ NEW OWESKI CARD START ~~~~~~~~~~~~~~~~~~~~~-->
        <div class="col s12 m4 center">
          <div class="card light-blue darken-1 valign hoverable">

            <a class="addOweskiDiv" ng-href="#/newOweski">
            <div class="card-content white-text">
              <span class="card-title"><h3>New Oweski!</h3></span>
            </div>

            <div class="divider"></div>
            
            <div class="card-content light-blue valign-wrapper">
              <span class="col s12 center white-text valign">Start a new Oweski <br/> with a new Broski!</span>
              <br/>
            </div>
            </a>

          </div>   <!-- class="card orange valign hoverable"> -->
        </div>    <!-- class="col s12 m4 center"> -->
        <!--~~~~~~~~~~~~~~~~~~~~~~ END NEW OWESKI CARD ~~~~~~~~~~~~~~~~~~~~~~-->


      </div>  <!-- class="row center"> -->
      <!--~~~~~~~~~~~~~~~~~ END ONE ENTIRE CARD WITH BUTTONS ~~~~~~~~~~~~~~~~~-->


    </div>  <!-- class="panel-body cardPanelBody row"> -->
  </div>   <!-- class="panel panel-default"> -->
</div>   <!-- class="row"> -->
