
<h2>Oweski Central</h2>
<!-- ============= CARDS TO HOLD user oweski RESULTS ============= -->
<div class="row">
  <h4>Your Oweskis</h4>
  <div class="card col s4"  ng-repeat="oweski in oweskis">
    <!-- <div class="card-image">
      <img ng-src="{{movie.Poster}}">    ng-src for images in ng-repeats (angular)
    </div> -->
    <div class="card-content orange accent-4">
      <p>{{oweski.user1}}</p>
      <p>{{oweski.user2}}</p>
      <p>{{oweski.count}}</p>
    </div>
  </div>
</div>




<!-- ============= SEARCH BAR ============= -->
<!-- <div class="row">
  <form id="databaseSearch">
    <input type="text" ng-model="oweskiToSearch" placeholder="Search oweski database..." class="col s9 offset-s1">
    <button class="waves-effect waves-light btn-floating teal btn" ng-click="searchDatabase(oweskiToSearch)"><i class="material-icons">search</i></button>
  </form>
</div>
 -->

      <div class="row">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
        <div class="panel panel-default">
          <div class="panel-body cardPanelBody">

            <div ng-repeat="oweski in oweskis | filter: userID | filter: searchText">
              <div class="card col s4">
                
                <a href="#/oweski/{{oweski.id}}">
                <div class="row boardTitle">
                  <h2>{{oweski.title}}</h2>
                </div>
                </a>

                <div class="row boardRow">
                  {{oweski.tags}}
                </div>
                <div class="row deleteBoardRow">
                  <button type="btn btn-default" ng-click="deleteBoardCall(oweski.id)" class="deleteButtons">Delete</button>
                </div>  <!-- class="row deleteBoardRow"> -->
              </div>   <!-- class="col-xs-4 oweski"> -->
            </div>  <!-- ng-repeat -->


            <div class="col-xs-4 oweski">
              <div class="row spacer"> </div>
              <a class="addOweskiDiv" ng-href="#/newOweski">
                 <h3>New Oweski!</h3>
              </a>
              <div class="row spacer"> </div>
            </div>  <!-- class="col-xs-4 oweski"> -->


          </div>  <!-- class="panel-body cardPanelBody"> -->
        </div>   <!-- class="panel panel-default DONOTSTYLETHIS"> -->
      </div>
