<!-- OLD NAVBAR  -->
<nav>
  <div class="nav-wrapper light-blue">    <!-- this is material design color (#03a9f4) -->

        <a href="#" class="brand-logo"> OweSki </a>
        <!-- <a href="#" class="brand-logo center">OweSki</a> --> 

        <ul id="nav-mobile" class="right">
          <!-- <li><a ng-href="#/search">    <i class="material-icons left">search</i>Search Oweskis</a></li> -->
          <li><a ng-href="#/account"> <i class="material-icons left">account_circle</i>My Account</a></li>
          <li><a ng-href="#/">Login</a></li>
          <li><a ng-href="#/logout">Logout</a></li>
        </ul>

  </div>
</nav>



<!-- NEW NAVBAR / NOT HOOKED UP AS SIDEBAR DOESN'T WORK -->
<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">OweSki</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li> | </li> -->
      <li><a ng-href="#/account"><i class="material-icons left">account_circle</i>My Account</a></li>
      <li><a ng-href="#/">Login</a></li>
      <li><a ng-href="#/logout">Logout</a></li>
    </ul>

    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <img class="background circle center-align userImage" src="https://avatars1.githubusercontent.com/u/16328475?v=3&s=460" />
          <a href="#!name"><span class="name center-align"><h5>This Dude Here</h5></span></a>
          <!-- <a href="#!email"><span class="email center-align">thisEmailHere@gmail.com</span></a> -->
        <div class="divider"></div>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a href="#!">My OweSkis</a></li>
      <li><a class="waves-effect" href="#!">New OweSki</a></li>
      <li><a class="waves-effect" href="#!">Update An OweSki</a></li>
      <li><a class="waves-effect" href="#!">Delete An OweSki</a></li>
      <li><div class="divider"></div></li>
      <li><a ng-href="#/account"><i class="material-icons left">account_circle</i>My Account</a></li>
      <li><a ng-href="#/">Login</a></li>
      <li><a ng-href="#/logout">Log OutSki</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>   
  </div>
</nav>