<nav>
  <div class="nav-wrapper light-blue">    <!-- this is material design color (#03a9f4) -->

        <a href="#" class="brand-logo"> OweSki </a>
        <!-- <a href="#" class="brand-logo center">OweSki</a> --> 

        <ul id="nav-mobile" class="right">
          <li><a ng-href="#/search">    <i class="material-icons left">search</i>Search Oweskis</a></li>
          <li><a ng-href="#/watchlist"> <i class="material-icons left">account_circle</i>Watch List</a></li>
          <li><a ng-href="#/login">Login</a></li>
          <li><a ng-href="#/logout">Logout</a></li>
        </ul>

  </div>
</nav>