  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">"No Worries, Just "Oweski" Me, BroSki!</h1>
      <div class="row center">
        <h5 class="header col s12 light">No one likes keeping mental score of "who got last..." Let OweSki do it for you!</h5>
      </div>
      <div class="row center">
        <a ng-href="#/loginReg" id="register" class="btn-large waves-effect waves-light orange">OweSki Sign-up!</a>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Details Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">"The More You KnowSki!"</h5>

            <p class="light">Keep tabs on all your friendly back and forths with OweSki! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa corrupti quibusdam perferendis perspiciatis nam ad velit ipsum repellendus deserunt ea obcaecati non quidem, tenetur impedit dolorem distinctio, quasi commodi minima!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">transform</i></h2>
            <h5 class="center">Let OweSki Decide Who Buys!</h5>

            <p class="light">Let "RandOweSki" decide who's picking up todays tab! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dignissimos ab aliquam et neque soluta explicabo fugit laudantium a deserunt, ullam, alias voluptates dolore earum esse harum ea incidunt illum?</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">sentiment_dissatisfied</i></h2>
            <h5 class="center">NOSki The Cheapskates...</h5>

            <p class="light">Some people just want a free lunch... Keep tabs on them with Oweski! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quam earum atque odio, nostrum accusamus consequatur doloremque dolor voluptas esse quasi fugit, facere voluptate laboriosam illo incidunt commodi debitis delectus!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">
      <!-- basically a spacer -->
    </div>
  </div>